<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riddle Me This</title>
</head>
<body>
    <div class="container">
        <div class="greeting">
            <h1>Game Page</h1>
            <p>Hi, {{ session["username"] }}</p>
            <p>You have 3 attempts to solve the riddle</p>
                <ul>
                   <li>Answer correctly first time and you will gain 5 points</li>
                   <li>Answer correctly second time and you will gain 3 points</li>
                   <li>Answer correctly third time and you will gain 1 point</li>
               </ul>
            <p>How many points can you score?</p>
        </div>
        <div class="question">
            <p><strong>{{ riddle.question }}</strong></p>
        </div>
        <div class="answer">
            <form method="POST">
                <textarea name="answer" cols="50" rows="4"></textarea>
                <br>
                <button>Submit Answer</button>
            </form>
        </div>
        <div class="response">
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endwith %}
            {% for item in wrong_answer %}
                <ul>
                    <li>{{ loop.index }}. {{ item }} </li>
                </ul>
            {% endfor %}
        </div>
        <div class="score">
            Your score: {{ score }}
        </div>
    </div>
    
</body>
</html>