{% extends "base.html" %}
    {% block content %}
        <div class="greeting">
            <h2 id="player">Hi, {{ session["username"] }}</h2>
            <h3>You have 3 attempts to solve the riddle</h3>
                <ul class="rewards">
                   <li>Answer correctly first time and you will gain 5 points</li>
                   <li>Answer correctly second time and you will gain 3 points</li>
                   <li>Answer correctly third time and you will gain 1 point</li>
               </ul>
            <h3>How many points can you score?</h3>
        </div>
        <div class="question">
            <p><strong>{{ riddle }}</strong></p>
        </div>
        <div class="answer">
            <form method="POST">
                <textarea name="answer" id="reply" placeholder ="Answer"></textarea>
                <br>
                <button>Submit Answer</button>
            </form>
            <button><a href="{{ url_for('leaderboard') }}">Show Leaderboard</a></button>
        </div>
        <div class="response">
            {% with messages = get_flashed_messages(with_categories = True) %}
                {% for category, message in messages %}
                    <p class="{{ category }}"><strong>{{ message }}</strong></p>
                {% endfor %}
            {% endwith %}
            {% for item in wrong_answer %}
                <ul class="wrong-answer">
                    <li><em>{{ loop.index }}. </em><strong>{{ item }}</strong></li>
                </ul>
            {% endfor %}
        </div>
        <div class="score">
            <strong>Your score: {{ score }}</strong>
        </div>
    {% endblock  %}