{% extends "base.html" %}
    {% block content %}
        <div class="greeting">
            <h2>Hi, {{ session["username"] }}</h2>
            <h3>You have 3 attempts to solve the riddle</h3>
                <ul>
                   <li>Answer correctly first time and you will gain 5 points</li>
                   <li>Answer correctly second time and you will gain 3 points</li>
                   <li>Answer correctly third time and you will gain 1 point</li>
               </ul>
            <h3>How many points can you score?</h3>
        </div>
        <div class="question">
            <p><strong>{{ riddle }}</strong></p>
        </div>
        <div class="answer">
            <form method="POST">
                <textarea name="answer" cols="50" rows="2"></textarea>
                <br>
                <button>Submit Answer</button>
                <button><a href="{{ url_for('leaderboard') }}">Show Leaderboard</a></button>
            </form>
        </div>
        <div class="response">
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <p><strong>{{ message }}</strong></p>
                {% endfor %}
            {% endwith %}
            {% for item in wrong_answer %}
                <ul>
                    <li><em>{{ loop.index }}. {{ item }}</em></li>
                </ul>
            {% endfor %}
        </div>
        <div class="score">
            <strong>Your score: {{ score }}</strong>
        </div>
    {% endblock  %}