{% extends "base.html" %}
    {% block content %}
        <h2 class="welcome">Leaderboard</h2>
        {% with messages = get_flashed_messages(with_categories = True) %}
            {% for category, message in messages %}
                <p class="{{ category }}"><strong>{{ message }}</strong></p>
            {% endfor %}
        {% endwith %}
        <div class="leaderboard">
            <table class="leaders"> 
                <tr>
                    <th id="position">Position</th>
                    <th id="name">Name</th>
                    <th id="score">Score</th>
                </tr>
                {% for (username, score) in top_scores %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ username }}</td>
                    <td>{{ score }}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <div class="nav">
                <button id="return"><a href="{{ url_for('game', username = session["username"]) }}">Back To Game</a></button>
                <button id="quit"><a href="{{ url_for('logout') }}">Quit Game</a></button>
            </div>
        </div>
    {% endblock %}