{% extends "base.html" %}
    {% block content %}
        <h2>Leaderboard</h2>
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <p><strong>{{ message }}</strong></p>
            {% endfor %}
        {% endwith %}
        <div>
            <table style="border: 2px solid black"> 
                <tr>
                    <th>Position</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
                {% for (username, score) in top_scores %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ username }}</td>
                    <td>{{ score }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <div>
            <button><a href="{{ url_for('game', username = session["username"]) }}">Back To Game</a></button>
            <button><a href="{{ url_for('logout') }}">Quit Game</a></button>
        </div>
    {% endblock %}